header nav {
    padding: 0px !important;
  }
  
  header nav #logo {
    width: 205px;
    height: 25px;
  }
  
  header nav #mobile-navbar-show {
    cursor: pointer;
    border: none;
  }
  
  header nav ul li {
    position: relative;
    padding: 38px 20px;
  }
  
  header nav ul li a {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 22px;
    color: #737373;;
    font-weight: 500;
  }
  
  header nav ul li a::after {
    content: "";
    -webkit-transition: width .3s;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: black;
  }
  
  header nav ul li a:hover {
    text-decoration: none;
  }
  
  header nav ul li a:hover::after {
    width: 80%;
  }
  
  header nav ul li .fa-search {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  header nav ul li i, header nav ul li span {
    cursor: pointer;
  }
  
  header nav ul li ul {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    position: absolute;
    top: 115px;
    left: 0;
    width: 228px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background-color: white;
  }
  
  header nav ul li ul li {
    padding: 5px 30px;
    
  }
  
  header nav ul li ul li i {
    font-size: 10px !important;
  }
  
  header nav ul li ul li ul {
    opacity: 0 !important;
    visibility: hidden !important;
    top: -15px;
    left: 100%;
  }
  
  header nav ul li ul li #input-search {
    border: none;
  }
  
  header nav ul li ul li #input-search:focus {
    outline: none;
  }
  
  header nav ul li ul li:hover ul {
    opacity: 1 !important;
    visibility: visible !important;
  }
  
  header nav ul li ul .element ul {
    top: 0;
  }
  
  header nav ul li .elements li {
    text-align: left;
  }
  
  header nav ul li .shop {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    position: absolute;
    top: 115px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: white;
  }
  
  header nav ul li .shop ul {
    width: auto;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0;
  }
  
  header nav ul li .shop ul li {
    padding: 5px 0;
  }
  
  header nav ul li .shop ul li a {
    padding: 0 !important;
  }
  
  header nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  
  header nav ul li:hover .shop {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  
  header nav ul li.shop-li {
    position: static;
  }
  
  header nav ul .shop-cart sup {
    padding: 1px 3px;
  }
  
  header nav ul .shop-cart ul {
    top: 100px;
    left: -70%;
  }
  
  header nav ul .shop-cart ul li {
    font-size: 14px;
  }
  
  header nav ul .search ul {
    visibility: visible;
    opacity: 1;
    top: 100px;
    display: none;
  }
  
  header nav ul .search ul li i {
    font-size: 14px !important;
  }
 
  header .mobile-navbar {
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 0;
    right: 36px;
    width: 0;
    opacity: 0;
    visibility: hidden;
    background-color:white;
  }
  
  header .mobile-navbar .fa-times {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }
  
  header .mobile-navbar ul li {
    margin-top: 20px;
  }
  
  header .mobile-navbar ul li a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  
  header .mobile-navbar ul li a:hover {
    text-decoration: none;
  }
  
  header .mobile-navbar ul ul {
    display: none;
  }
  
  header .mobile-navbar ul ul li {
    margin-top: 0;
  }
  
  header .mobile-navbar ul ul li a {
    padding: 0 !important;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0em;
  }
  
  header .mobile-navbar ul ul ul li {
    text-transform: uppercase;
  }
  
  header .mobile-navbar.active {
    width: 420px;
    visibility: visible;
    opacity: 1;
    right: 0;
    z-index: 9;
  }



  .Slider{
    width: 100%;
    height: 500px;
}
.SliderInner{
    position: absolute; 
    transition: all 0.3s;
    top: 70px;
    left: 100px;
    z-index: 2;
}
.SliderInner>h3{
   
    z-index: 5;
    min-width: 347px;
    max-width: 347px;
    white-space: normal;  
    font-size: 41px;
    line-height: 50px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  
    font-family: home-font;
}
.SliderInner>h3>span{
    color: red;
}
.SliderInner>p{
    z-index: 6;
    min-width: 429px;
    max-width: 429px;
    white-space: normal;
    font-size: 17px;
    font-weight: 400;
    color: rgb(109, 106, 106);
    font-family: Lora;
    text-align: inherit;
}
.SliderInner>img{
    top:260px;
    position: absolute;
}
.vegas-slider{
    width: 50% !important;
    height: 50% !important;
}


#about{
    background-color: #f7f7f7;
}
  #about .img {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  #about .img img {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  #about .img:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  #about .img .player {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background: white;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);     
  }
  
  #about .about-text p, #about .about-text li {
    font-size: 17px;
    line-height: 29px;
  }
  
  #about .about-text h2{
    font-family: playfair display,serif;
    font-size: 38px;
    font-weight: 400;
  }



  #experts .item .text h6 {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  #experts .item .text p {
    font-size: 12px;
  }



  #subscribe {
    background: url(../img/h3-background-img.jpg);
    background-attachment: fixed;
  }
  
  #subscribe .content h3 {
    color: #fff;
    font-size: 30px;
    font-family: "Playfair Display", serif;
  }
  
  #subscribe .content input {
    border: none;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    padding: 30px !important;
    width: 100% !important;
  }
  
  #subscribe .content input:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  @media (min-width: 576px) {
    #subscribe .content input {
      width: 50% !important;
    }
  }
  
  #subscribe .content ::-webkit-input-placeholder {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
  }
  
  #subscribe .content :-ms-input-placeholder {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
  }
  
  #subscribe .content ::-ms-input-placeholder {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
  }
  
  #subscribe .content ::placeholder {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
  }
  
  #subscribe .content button {
    padding: 20px !important;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #f34f3f;
  }



  #blog{
    background-color: #f7f7f7;
  }
  #blog .item .img {
    overflow: hidden;
  }
  
  #blog .item .img img {
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  
  #blog .item .img img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  #blog .item .img .date {
    top: 10px;
    left: 10px;
  }
  
  #blog .item .img .date span {
    cursor: pointer;
    font-size: 12px;
    letter-spacing: .15em;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  #blog .item .img .date span:hover {
    color: #f34f3f;
  }
  
  #blog .item .text h5 {
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-size: 22px;
  }
  
  #blog .item .text p {
    font-family: Lora, serif;
    line-height: 29px;
  }

  


  #slider_2 .item .img img {
    width: 87px;
    height: 87px;
    border-radius: 50%;
  }
  
  #slider_2 .item .text i {
    font-family: Lora, serif;
    font-size: 24px;
    line-height: 1.5em;
  }
  
  #slider_2 .item .author h6 {
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  #slider_2 .item .author p {
    font-size: 12px;
  }



  footer {
    background-color: #fefaf3;
  }
  
  footer .item h6 {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  footer a {
    font-size: 14px;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer a:hover {
    color: #f34f3f !important;
    text-decoration: none;
  }
  
  footer p {
    font-size: 12px;
  }





  #accordion-title {
    background-color: #f7f7f7;
  }
  
  #accordion-title h1{
    font-size: 50px;
    font-family: "Playfair Display", serif;
  }
  
  #accordion-title i{
    font-family: Lora, serif;
    font-size: 17px;
  }
  
  #accordion .question {
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
  }
  
  #accordion .question span {
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  #accordion .question:hover {
    background-color: #f34f3f;
    color: #fff !important;
  }
  
  #accordion .question.active {
    background-color: #f34f3f;
    color: #fff !important;
  }
  
  #accordion .answer {
    display: none;
  }
  
  #accordion .answer p {
    font-family: Lora, serif;
  }
  
  #accordion .answer.active {
    display: block;
  }
  
  #accordion .accordion-color .question {
    border-bottom: 1px solid #e6e6e6;
  }
  
  #accordion .accordion-color .question:hover {
    background-color: #fff;
    color: #f34f3f !important;
  }
  
  #accordion .accordion-color .question.active {
    background-color: #fff;
    color: #f34f3f !important;
  }





  #tab-title{
    background-color: #f7f7f7;
  }
  #tab-title h1{
  font-size: 50px;
  font-family: "Playfair Display", serif;
  }
  #tab-title i{
  font-family: Lora, serif;
  font-size: 17px;
  }
  #tab ul li {
    -webkit-transition: color .3s;
    transition: color .3s;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  #tab ul li:hover {
    color: #f34f3f;
  }
  
  #tab ul li.active {
    color: #fff;
    background-color: #f34f3f;
  }
  
  #tab .detail p {
    display: none;
  }
  
  #tab .detail p.active {
    display: block;
  }
  
  #tab .tab2 ul li {
    background-color: #f7f7f7;
  }
  
  #tab .tab2 ul li:hover {
    color: #fff !important;
    background-color: #f34f3f !important;
  }
  
  #tab .tab2 ul li.active {
    color: #fff !important;
    background-color: #f34f3f !important;
  }
  
  #tab .tab3 ul li:hover {
    color: #f34f3f;
  }
  
  #tab .tab3 ul li.active {
    color: #f34f3f;
    background-color: #fff;
  }
 
  

  #title_wrapper{
    background: #FAFAF9;
    padding: 80px 0;
  }

  #title_wrapper .container .title h1{
    color: #0e0e0e;
    font-size: 55px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin-top: 0;
  }
  #title_wrapper .container .title p {
    font-family: "Lora", serif;
    font-size: 17px;
    font-style: italic;
    color: #6D6A6A;
  }
 
  #orange_amaryllis {
    padding: 100px 0;
  }
  
  #orange_amaryllis .container .product_image .first_image {
    margin-right: 30px;
  }
  
  #orange_amaryllis .container .product_image .first_image .image {
    margin-bottom: 20px;
    width: 120px;
    height: 110px;
  }
  
  #orange_amaryllis .container .product_image .first_image .image img {
    width: 100%;
    height: 100%;
  }
  
  #orange_amaryllis .container .product_image .second_image .image img {
    width: 100%;
    height: 501px;
  }
  
  #orange_amaryllis .container .content {
    padding: 0 25px;
  }
  
  #orange_amaryllis .container .content h2 {
    color: #2b2b2b;
    font-family: playfair display,serif;
    font-weight: 400;
    font-size: 38px;
  }
  
  #orange_amaryllis .container .content p {
    margin-top: 20px;
    line-height: 1.6em;
  }
  
  #orange_amaryllis .container .content .quantity_add {
    margin: 30px 0;
  }
  
  #orange_amaryllis .container .content .quantity_add .quantity span {
    padding: 18px 22px;
  }
  
  #orange_amaryllis .container .content .quantity_add .quantity .quantity_number {
    padding: 11px;
  }
  
  #orange_amaryllis .container .content .quantity_add .quantity .quantity_number i {
    padding: 8px;
  }
  
  #orange_amaryllis .container .content .quantity_add .quantity .quantity_number span {
    padding: 7px;
  }
  
  #orange_amaryllis .container .content .quantity_add .add-to-cart {
    border: 5px solid black;
    background: #0e0e0e;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 40px;
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }
  
  #orange_amaryllis .container .content .product_info p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #1b1b1b;
  }
  #product_list_products {
    padding: 10px 0 50px 0;
  }
  
  #product_list_products .container .row h2 {
    font-weight: 300;
    letter-spacing: .1em;
    margin-bottom: 30px;
    font-size: 20px;
  }
  
  #product_list_products .container .row .same_product .row .card {
    cursor: pointer;
    border: none;
  }
  
  #product_list_products .container .row .same_product .row .card:hover .image img {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  
  #product_list_products .container .row .same_product .row .card:hover .add_to_cart {
    opacity: 1 !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
  
  #product_list_products .container .row .same_product .row .card:hover .price {
    opacity: 0;
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  
  #product_list_products .container .row .same_product .row .card .image {
    overflow: hidden;
  }
  
  #product_list_products .container .row .same_product .row .card .image img {
    width: 100%;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  
  #product_list_products .container .row .same_product .row .card .image .info {
    z-index: 9999;
    position: absolute;
    top: 10px;
    left: 12px;
    padding: 5px 13px;
    letter-spacing: 1px;
    font-size: 18px;
   
  }
  
  #product_list_products .container .row .same_product .row .card .title {
    position: relative;
    padding: 20px 0;
  }
  
  #product_list_products .container .row .same_product .row .card .title p, #product_list_products .container .row .same_product .row .card .title span {
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  #product_list_products .container .row .same_product .row .card .title .price {
    display: inline-block;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  #product_list_products .container .row .same_product .row .card .title .price p {
    font-weight: normal;
  }
  
  #product_list_products .container .row .same_product .row .card .title .add_to_cart {
    display: inline-block;
    position: absolute;
    top: 53px;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  
  #product_list_products .container .row .same_product .row .card .title .add_to_cart p {
    font-weight: normal;
  }

  #p_tab_menu {
    padding: 100px 0;
  }
  
  #p_tab_menu .container .row .menus {
    text-transform: uppercase;
  }
  
  #p_tab_menu .container .row .menus .menu {
    border: 1px solid #eee;
    border-bottom: none;
    letter-spacing: 0.9px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #1b1b1b;
    padding: 20px 45px;
    cursor: pointer;
  }
  
  #p_tab_menu .container .row .menus .menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }
  
  #p_tab_menu .container .row .menus .menu.selected {
    color: #ffffff;
    background: #f34f3f;
  }
  
  #p_tab_menu .container .row .contents {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  
  #p_tab_menu .container .row .contents .content {
    padding: 75px 5px 75px 0px;
  }
  
  #p_tab_menu .container .row .contents .content h3 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #1b1b1b;
    line-height: 1.4em;
    font-weight: 400;
  }
  
  #p_tab_menu .container .row .contents .content p {
    font-family: "Lora", serif;
    color: #6D6A6A;
    font-size: 15px;
    line-height: 25px;
  }
  
  #p_tab_menu .container .row .contents .content p strong {
    color: #1b1b1b;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  
  #p_tab_menu .container .row .contents .content p span {
    color: #6D6A6A;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  
  #p_tab_menu .container .row .contents .content .reviews h2 {
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #1b1b1b;
    line-height: 1.4em;
    font-weight: 400;
  }
  
  #p_tab_menu .container .row .contents .content .reviews .comments .comment_area .image {
    padding: 6px 0;
  }
  
  #p_tab_menu .container .row .contents .content .reviews .comments .comment_area .image img {
    width: 100%;
  }
  
  #p_tab_menu .container .row .contents .content .reviews .comments .comment_area .comment p:first-child {
    font-family: "Montserrat", sans-serif;
  }
  
  #p_tab_menu .container .row .contents .content .reviews .comments .comment_area .comment p:first-child strong {
    color: #1b1b1b;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
  }
  
  #p_tab_menu .container .row .contents .content .reviews .comments .comment_area .comment p:first-child span {
    font-size: 10px;
    color: #AFAFAF;
    letter-spacing: .15em;
  }
  
  #p_tab_menu .container .row .contents .content .reviews .comments .comment_area .comment p:first-child::nth-child(2) {
    font-family: "Lora", serif;
    font-size: 15px;
    color: #6D6A6A;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews {
    padding: 40px 0;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews h2 {
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #1b1b1b;
    line-height: 1.4em;
    font-weight: 400;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews .review p {
    margin-bottom: 5px;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews .review form div label {
    margin-top: 10px;
    font-family: "Lora", serif;
    color: #6D6A6A;
    font-size: 15px;
    line-height: 25px;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews .review form div textarea {
    width: 100%;
    border: 1px solid #eee;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews .review form div input {
    border: 1px solid #eee;
    border-radius: 0px;
    padding: 30px;
  }
  
  #p_tab_menu .container .row .contents .content .add_reviews .review form input.button {
    color: #ffffff;
    background-color: #f34f3f;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.833em;
    letter-spacing: .1em;
    font-weight: 500;
    border: none;
    padding: 15px 45px;
    margin-top: 20px;
  }



  #progress_bar_1 {
    padding: 100px 0;
  }
  
  #progress_bar_1 .container .row .bars {
    margin-bottom: 50px;
  }
  
  #progress_bar_1 .container .row .bars .bar {
    margin-bottom: 15px;
  }
  
  #fprogress_bar_1 .container .row .bars .bar h5 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #1b1b1b;
  }
  
  #progress_bar_1 .container .row .bars .bar h5 .right_count span {
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 400;
  }
  
  #progress_bar_1 .container .row .bars .bar .my_progress {
    background-color: #ddd;
    display: block;
    height: 3px;
    overflow: hidden;
  }
  
  #progress_bar_1 .container .row .bars .bar .my_progress .my_bar {
    height: 3px;
    background-color: #f34f3f;
  }
  
  #progress_bar_1 .container .row .bars .bar .my_progress .f_my_bar {
    width: 95%;
    -webkit-animation: f_my_bar 3s;
            animation: f_my_bar 3s;
  }
  
  #progress_bar_1 .container .row .bars .bar .my_progress .s_my_bar {
    width: 80%;
    -webkit-animation: s_my_bar 3s;
            animation: s_my_bar 3s;
  }
  
  #progress_bar_1 .container .row .bars .bar .my_progress .t_my_bar {
    width: 55%;
    -webkit-animation: t_my_bar 3s;
            animation: t_my_bar 3s;
  }
  
  @-webkit-keyframes f_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  
  @keyframes f_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  
  @-webkit-keyframes s_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  
  @keyframes s_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  
  @-webkit-keyframes t_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }
  
  @keyframes t_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }
  
  #progress_bar_2 {
    padding: 100px 0;
  }
  
  #progress_bar_2 .container .row .bars .bar {
    margin-bottom: 15px;
  }
  
  #progress_bar_2 .container .row .bars .bar h5 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #1b1b1b;
  }
  
  #progress_bar_2 .container .row .bars .bar h5 .right_count span {
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 400;
  }
  
  #progress_bar_2 .container .row .bars .bar .my_progress {
    background-color: #000;
    display: block;
    height: 3px;
    overflow: hidden;
  }
  
  #progress_bar_2 .container .row .bars .bar .my_progress .my_bar {
    height: 3px;
    background-color: #f34f3f;
  }
  
  #progress_bar_2 .container .row .bars .bar .my_progress .f_my_bar {
    width: 95%;
    -webkit-animation: f_my_bar 3s;
            animation: f_my_bar 3s;
  }
  
  #progress_bar_2 .container .row .bars .bar .my_progress .s_my_bar {
    width: 80%;
    -webkit-animation: s_my_bar 3s;
            animation: s_my_bar 3s;
  }
  
  #progress_bar_2 .container .row .bars .bar .my_progress .t_my_bar {
    width: 55%;
    -webkit-animation: t_my_bar 3s;
            animation: t_my_bar 3s;
  }
  
  @keyframes f_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  
  @keyframes s_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  
  @keyframes t_my_bar {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }




  .shopbarimg img {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 80px;
}

.shopbarimg p {
    margin-left: 25%;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: .1em;
}

.shopbarimg .gray {
    margin-left: 30% !important;
    font-weight: 500 !important;
    color: grey !important;
}

.shopbarimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .4s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .4s ease;
    opacity: 0;
    left: 44%;
    top: 49%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.btn{
    width: 180px;
    background-color: #f34F3f;
    color: white !important;
    margin-left: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0%;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.833em;
    letter-spacing: .1em;
    font-weight: 500;    
}

.shopbarimg:hover .shopbarimage {
    opacity: 0.3;
}

.shopbarimg:hover .middle {
    opacity: 1;
}

.picprice {
    display: block;
}

.shopbarimg img:hover .shopbarimg>.picprice {
    display: none;
}


.owlitem {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.owl-carousel .owlitem img {
    width: 100%;
    height: 390px;
    padding-bottom: 25px;
}

.owlitem p {
    margin-left: 30%;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: .1em;
}

.owlitem .gray {
    font-weight: 500 !important;
    color: grey !important;
    margin-left: 38% !important
}

.owl-nav {
    display: none;
}



.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 35px;
    position: absolute;
    top: 21%;
}

.owl-carousel .owl-nav button.owl-next {
    right: 4%;
}

.owl-carousel .owl-nav button.owl-prev {
    right: 6%;
}

.shopsimg {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-right: 0 !important;
}

.shopsimg img {
    width: 100%;
    margin-bottom: 25px;
}

.shopsimg p {
    margin-left: 30%;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: .1em;
}

.shopsimg .gray {    
    font-weight: 600 !important;
    color: grey !important;
    margin-left: 28.5% !important
}


.shopsimg {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.shopsimg img {
    max-width: 77%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.shopsimg img:hover{
    transform: scale(1.05);
}